.nav_logo {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

.nav_logo::before {
  content: "<";
  font-family: "Cedarville Cursive", cursive;
  font-weight: 600;
  font-style: normal;
}
.nav_logo::after {
  content: ">";
  font-family: "Cedarville Cursive", cursive;
  font-weight: 600;
  font-style: normal;
}
